.page-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--text-color--primary);

  @include xs {
    font-size: 1.7em;
  }
}

.main-section {
  padding-top: 100px;
  background: var(--bg-color--primary);
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;
}

.page-container {
  max-width: $content-width;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}
