html,
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-image: url("~@/assets/svg/background.svg");
  background-color: #212428;
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
}
