@import "~@/assets/scss/variables/@index";

.cursor-pointer {
  cursor: pointer;
}

.projects__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

  @include mdAndBelow {
    grid-template-columns: 1fr 1fr;
  }

  @include xs {
    grid-template-columns: 1fr;
  }

  .projects__item {
    min-width: 100% / 4;
    flex-basis: (100% / 4);
  }
}
