.card {
  position: relative;
  height: 100%;
  width: 100%;

  .card__header {
    margin-bottom: 5px;

    .card__figure {
      overflow: hidden;
      border-radius: 10px;

      .card__image {
        width: 100%;
        transition: transform 500ms ease;

        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }

  .card__footer {
    height: 100%;

    .footer__list {
      .footer__item {
        display: flex;
        justify-content: space-between;
        height: 100%;

        .footer__title {
          font-size: 1.1em;
          font-weight: bold;
          min-height: 100%;
          display: flex;
          align-items: center;
          font-family: "Quicksand", sans-serif;
          font-weight: 700;
          color: rgb(226, 225, 225);
        }

        .footer__stack {
          display: flex;
          justify-content: flex-end;
          gap: 5px;

          img {
            height: 40px;
            width: 40px;
            padding: 5px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
