.resume-content {
  .resume-content__item {
    &:not(:last-child) {
      margin-bottom: 50px;
    }

    .content--title {
      font-weight: bold;
      margin-bottom: 20px;
      color: $text-color--primary;
    }

    .content--container {
      padding: 0 10px;

      .resume__item {
        border-left: 1px solid rgb(207, 207, 207);
        padding-left: 15px;
        position: relative;
        color: $text-color--primary;

        &:not(:last-child) {
          padding-bottom: 30px;
        }

        &:after {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background: rgb(53, 172, 136);
          top: 0;
          left: -5px;
          border-radius: 50%;
        }

        .resume__item--heading {
          font-size: 1.3em;
          margin-bottom: 20px;
        }

        .resume__item--company {
          margin-bottom: 5px;
          font-weight: bold;
        }

        .resume__item--duration {
          color: $text-color--primary-muted;
          font-size: 0.9em;
          font-style: italic;
          margin-bottom: 20px;
        }

        .resume__item--roles {
          margin-bottom: 20px;
          ul {
            margin-left: 30px;
            list-style-type: disc;

            li {
              color: $text-color--primary;
              margin-bottom: 10px;
            }
          }
        }

        .resume__item--stack {
          .stack__title {
            margin-bottom: 5px;
            font-weight: bold;
          }

          .stack__list {
            display: flex;
            gap: 10px;

            .stack__item {
              img {
                background: white;
                border-radius: 5px;
                padding: 8px;
                width: 45px;
                height: 45px;
              }
            }
          }
        }
      }
    }
  }
}
