@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.about {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .about-container {
    .about__body--contact {
      margin-bottom: 50px;

      .contact__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
        color: $text-color--primary;

        .arrow {
          border: solid $text-color--primary;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          height: 10px;
          width: 10px;
          margin-right: 10px;

          &.arrow--right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
          }
        }

        .text-container {
          .text-title {
            font-weight: bold;
            margin-right: 10px;
          }
        }
      }
    }

    .about__body--bio {
      font-weight: 100;
      font-size: 1.2em;
      line-height: 1.8em;
      color: $text-color--primary;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 50px;
      gap: 50px;

      .bio__details,
      .bio__figure {
        flex: 1 1 0;
        width: 100%;

        @include sm {
          width: 100%;
        }

        @include xs {
          width: 100%;
        }
      }

      .bio__details {
        p {
          margin-bottom: 20px;
        }
      }

      .bio__figure {
        margin-left: auto;
        border-radius: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        @include smAndBelow {
          margin-bottom: 20px;
        }

        .figure__background {
          position: absolute;
          width: 100%;
          height: 100%;
          background: #a8ff78; /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
          background: linear-gradient(to right, #78ffd6, #a8ff78);
          opacity: 0.6;
          border-radius: 10px;
        }

        .figure__loading {
          margin: 50px;
        }

        img {
          z-index: 1;
          max-height: 300px;
          padding: 20px;

          @include sm {
            margin-bottom: 20px;
            max-height: 200px;
          }

          @include xs {
            margin-bottom: 20px;
          }
        }
      }

      .bold {
        font-weight: 500;
        color: #40b882;
      }

      @include xs {
        font-size: 1.1em;
      }

      @include sm {
        font-size: 1.2em;
      }
    }

    .stack__list {
      $transition-duration: 0.4s;

      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 10px;

      .stack__item {
        width: 100%;
        cursor: pointer;
        user-select: none;
        height: 60px;
        background: #373e42;
        display: flex;
        margin-right: 20px;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        transition: $transition-duration ease;
        transition-property: transform, box-shadow, background-color;

        &:hover {
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2),
            0 6px 15px 0 rgba(0, 0, 0, 0.19);
          background-color: white;

          .stack__item--logo {
            filter: grayscale(0) invert(0);
          }

          .stack__item--text {
            .text__title {
              color: #373e42;
            }

            .text__subtitle {
              color: #373e42;
            }
          }
        }

        .stack__item--logo {
          margin-right: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 60px;
          filter: grayscale(1) invert(1);
          transition: filter $transition-duration ease;

          img {
            transition: all 0.4s ease;
            width: 40px;
            height: 40px;
            padding: 3px;
          }
        }

        .stack__item--text {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;

          .text__title {
            font-family: "Quicksand", sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 0.9em;
            line-height: 0.9em;
            color: $text-color--primary;
            margin-bottom: 5px;
          }

          .text__subtitle {
            font-family: "Quicksand", sans-serif;
            text-transform: uppercase;
            color: $text-color--primary-muted;
            font-size: 0.8em;
            line-height: 0.8em;
          }
        }
      }
    }
  }

  .about-title {
    font-size: 2em;
    color: $text-color--primary;
  }
}
