.cursor-pointer {
  cursor: pointer;
}

.about {
  padding-top: 100px;
  background: white;
  min-height: 100vh;
  position: relative;
  border-bottom: 1px solid #e1e2e4;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .about-container {
    .about-contact {
      margin-bottom: 50px;

      .contact-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;

        .arrow-right {
          height: 20px;
          width: 20px;
        }

        .text-container {
          .text-title {
            font-weight: bold;
            margin-right: 10px;
          }
        }
      }
    }

    .about-bio {
      font-weight: 100;
      font-size: 1.2em;
      line-height: 1.8em;
      color: $bg-main-dark;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 50px;

      @include xs {
        flex-direction: column-reverse;
      }

      @include sm {
        flex-direction: column-reverse;
      }

      a {
        text-decoration: none;
      }

      .left-container,
      .right-container {
        width: 45%;

        @include sm {
          width: 100%;
        }

        @include xs {
          width: 100%;
        }
      }

      .left-container {
        margin-right: auto;

        p {
          margin-bottom: 20px;
        }
      }

      .right-container {
        margin-left: auto;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-height: 300px;

          @include sm {
            margin-bottom: 20px;
            max-height: 200px;
          }

          @include xs {
            margin-bottom: 20px;
          }
        }
      }

      .bold {
        font-weight: 500;
        color: #40b882;
      }

      @include xs {
        font-size: 1.1em;
      }

      @include sm {
        font-size: 1.2em;
      }
    }

    .about-stack {
      margin-bottom: 50px;

      .stack-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }

      .stack-item {
        cursor: pointer;
        user-select: none;
        height: 60px;
        padding-left: 20px;
        background: rgb(247, 247, 247);
        display: flex;
        margin-right: 20px;
        margin-bottom: 20px;
        flex: 0 0 23%;
        width: 24%;
        transition: all 0.4s ease;

        &:hover {
          transform: scale(1.03);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2),
            0 6px 15px 0 rgba(0, 0, 0, 0.19);

          .stack-item--logo {
            img {
              transform: scale(1.15);
            }
          }
        }

        @include sm {
          flex: 0 0 45%;
        }

        @include xs {
          flex: 0 0 100%;
          margin: auto;
          margin-bottom: 20px;
        }

        .stack-item--logo {
          margin-right: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            transition: all 0.4s ease;
            max-width: 30px;
          }
        }

        .stack-item--title {
          font-family: "Poppins", sans-serif;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          text-transform: uppercase;
          font-weight: bold;
          color: rgb(80, 80, 80);
        }
      }
    }
  }

  .about-title {
    font-size: 2em;
    color: #171b23;
  }
}
