.cursor-pointer {
  cursor: pointer;
}

.item-container {
  display: flex;
  flex-wrap: wrap;

  .projects__item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 33%;

    @include sm {
      flex: 0 0 49%;
    }

    @include xs {
      flex: 0 0 100%;
    }

    $borders-paddings: 35px;
    $border-colors: #fff;
    $border-width: 3px;
    $border-dimensions: 35px;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-top: 0 solid transparent;
      border-left: 0 solid transparent;
      transition: all 0.5s ease;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-bottom: 0 solid transparent;
      border-right: 0 solid transparent;
      z-index: 1;
      transition: all 0.5s ease;
    }

    &:hover {
      &:after {
        top: $borders-paddings;
        left: $borders-paddings;
        width: $border-dimensions;
        height: $border-dimensions;
        border-top: $border-width solid $border-colors;
        border-left: $border-width solid $border-colors;
      }

      &:before {
        bottom: $borders-paddings;
        right: $borders-paddings;
        width: $border-dimensions;
        height: $border-dimensions;
        border-bottom: $border-width solid $border-colors;
        border-right: $border-width solid $border-colors;
      }

      .projects__img {
        &:after {
          background: rgba(0, 0, 0, 0.7);
        }
      }
    }

    .projects__img {
      margin: 10px;
      overflow: hidden;
      position: relative;
      width: 100%;

      &:after {
        transition: all 0.5s ease;
        content: "";
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 5px;
        height: 100%;
      }

      img {
        transition: all 0.5s ease;
        width: 100%;
        height: 100%;
      }
    }

    .projects__content {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s ease;

      &.projects__content--hovered {
        opacity: 1;
        visibility: visible;
      }

      .content__title {
        font-size: 1.7em;
        margin-bottom: 10px;
        font-weight: bold;
        color: rgb(241, 241, 241);
        font-family: "Poppins", sans-serif;
        text-align: center;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: rgb(53, 172, 136);
        }
      }

      .content__text {
        line-height: 1.5em;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .content__text--label {
          color: rgb(185, 185, 185);
          font-size: 0.9em;
          text-decoration: none;

          img {
            height: 30px;
          }
        }
      }

      .content__stack {
        display: flex;
        justify-content: flex-start;

        .stack__item {
          background: rgb(118, 196, 3);
          padding: 5px 10px;
          border-radius: 25px;
          font-size: 0.8em;
          color: white;
          margin-right: 10px;
        }
      }
    }
  }
}
