@import "~@/assets/scss/variables/@index";

@keyframes float {
  0% {
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 10px 0px rgba(0, 0, 0, 0);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    transform: translatey(0px);
  }
}

@keyframes stretch {
  40% {
    transform: scale(1.2, 0.5);
    color: #9d9fa3;
  }

  60% {
    transform: scale(0.8, 1.6);
  }

  70% {
    transform: scale(1.1, 0.9);
  }

  80% {
    transform: scale(0.9, 1.3);
  }

  90% {
    transform: scale(1, 0.9);
  }

  0%,
  100% {
    transform: scale(1, 1);
    color: #fff;
  }
}

@keyframes blink {
  0%,
  100% {
    color: transparent;
  }

  50% {
    color: #fff;
  }
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .hero__container {
    max-width: $content-width;
    min-width: $content-width;
    height: calc(100vh - 250px);
    min-height: 400px;
    padding: 50px 200px;
    position: relative;
    animation: float 6s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;

    @include smAndBelow {
      padding: 5px 50px;
      height: calc(100vh - 200px);
    }

    .hero__background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #134e5e; /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #71b280, #134e5e);
      background: linear-gradient(to bottom, #71b280, #134e5e);
      opacity: 0.7;
      border-radius: 0.75em;
    }

    .hero__body {
      z-index: 1000;
      position: relative;
    }

    .hero__figure {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      width: 100%;
      height: 100%;

      @include xs {
        display: none;
      }

      .hero__img {
        max-height: 200px;
        width: 100%;

        @include xs {
          min-width: 100%;
        }
      }
    }

    .hero__title {
      color: white;
      text-align: center;
      font-weight: 700;
      font-size: 4em;
      margin-bottom: 20px;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;

      .cursor {
        animation: blink 1s step-end infinite;
      }

      @include xs {
        font-size: 1.7em;
        margin-bottom: 10px;
      }

      @include sm {
        font-size: 3em;
      }
    }

    .hero__subtitle {
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      font-size: 1em;
      color: rgb(226, 226, 226);
      line-height: 1.8rem;
      margin-bottom: 20px;
      font-family: "Quicksand", sans-serif;
      font-weight: 300;
      max-width: 500px;

      b {
        font-weight: 700;
      }
    }

    .hero__communicate {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;

      .btn {
        padding: 12px;
        min-width: 100px;
        border-radius: 5px;
        overflow: hidden;
        font-size: 0.7em;
        text-transform: uppercase;

        &.communicate__chat {
          color: white;
          background-color: #212428;
        }

        &.communicate__resume {
          color: white;
          background-color: #71b280;
        }
      }
    }

    .hero__contacts {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .contacts__item {
        background: rgba(0, 0, 0, 0.4);
        margin-right: 5px;
        margin-left: 5px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
          .contacts__figure {
            transform: scale(1.2);
          }
        }
      }

      .contacts__figure {
        transition: all 0.5s ease;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 15px;
        }
      }
    }
  }

  .btn-down {
    position: absolute;
    height: 70px;
    width: 70px;
    border: 1px solid white;
    bottom: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: float 6s ease-in-out infinite;

    img {
      height: 30px;
      width: 30px;
    }

    @include xs {
      height: 50px;
      width: 50px;

      img {
        height: 20px;
        width: 20px;
      }
    }

    @include sm {
      height: 60px;
      width: 60px;
      bottom: 20px;

      img {
        height: 20px;
        width: 20px;
      }
    }

    @include md {
      height: 70px;
      width: 70px;
      bottom: 20px;

      img {
        height: 20px;
        width: 20px;
      }
    }
  }
}
